/* src/pages/auth.module.css */

.container {
    @apply flex items-center justify-center min-h-screen bg-gray-100;
  }
  
  .card {
    @apply bg-white shadow-lg rounded-lg p-8 w-96 transition-transform duration-300 transform hover:scale-105;
  }
  
  .heading {
    @apply text-3xl font-bold text-center text-[var(--primary)];
  }
  
  .label {
    @apply block text-black mb-2;
  }
  
  .input {
    @apply w-full p-3 border border-[var(--accent)] rounded focus:outline-none focus:ring-2 focus:ring-teal-500 text-black;
  }
  
  .button {
    @apply w-full bg-[var(--secondary)] text-white py-2 rounded transition duration-200 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50;
}

  .button:hover {
    background-color: var(--highlight); /* Use the highlight variable for hover state */
}
  
  .toggleText {
    @apply mt-4 text-center text-black;
  }
  
  .toggleButton {
    @apply text-teal-600 font-semibold ml-1 hover:underline focus:outline-none;
  }
  
  .error {
    @apply text-red-500 mt-2 text-sm text-center;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space evenly */
}

  .input {
    @apply w-full p-3 border border-gray-300 rounded focus:outline-none;
  }

  .input.editable {
    border-color: var(--highlight); /* Change this to your desired color */
  }

.editButton {
    background-color: var(--accent);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    flex: 1; /* Take up equal space */
    margin-left: 0.5rem; /* Add space between input and button */
    padding: 0.5rem; /* Add padding for a better appearance */
    max-width: 3rem;
}

.editButton:hover {
    background-color: var(--highlight);
}
  
.fieldContainer {
  @apply mb-4; /* Adds margin-bottom to each field container */
}