/* MultiStepForm.module.css */
.formContainer {
    @apply flex flex-col bg-[var(--neutral)] p-6 rounded-lg shadow-md max-w-lg mx-auto mt-8;
    max-width: 500px;
    border: 2px solid var(--secondary); /* This color matches Tailwind's gray-300 */
}

.sectionTitle {
    @apply text-2xl font-semibold mb-2;
    color: var(--primary);
}

.button {
    @apply px-4 py-2 rounded hover:bg-[var(--highlight)] transition;
}

.backButton {
    @apply bg-[var(--secondary)] text-white;
}

.nextButton, .finalButton {
    @apply bg-[var(--secondary)] text-white;
}

.inputField {
    @apply w-full p-2 border mb-3 border-primary text-black;
}

.inputField:focus {
    @apply border-[var(--highlight)]; /* Change this to your desired focus color */
    outline: none; /* Remove default outline */
    transition: border-color 0.2s; /* Smooth transition for border color change */
}

/* MultiStepForm.module.css */
.summaryBody {
    @apply w-full p-2 border mb-3 border-primary text-black;
}

/* MultiStepForm.module.css */
.summaryBody {
    @apply w-full p-2 mb-3 text-[var(--primary)];
    border: none; /* Add this line to remove any border */
}

.summarySection {
    @apply w-full p-3 border mb-3 border-primary text-[var(--highlight)] font-bold text-lg; /* Adjust font size as needed */
}


.summaryItem {
    @apply mb-2 text-black;
}

.summaryValue {
    @apply text-base text-black;
}

